In [1]:
import boto3

In [2]:
client=boto3.client('ssm')
user=client.get_parameter(Name='RDS_PG_RETAIL_DB_USER').get('Parameter')['Value']
password=client.get_parameter(Name='RDS_PG_RETAIL_DB_PASSWORD').get('Parameter')['Value']
host="delab.cjavbalj6pro.us-east-1.rds.amazonaws.com"
port="5432"
db="retail_db"

In [3]:
import os
os.environ['DATABASE_URL']=f'postgresql://{user}:{password}@{host}:{port}/{db}'

In [4]:
%load_ext sql

In [5]:
%%sql select table_catalog,table_schema,table_name from information_schema.tables 
where table_catalog='retail_db' and table_schema='public'

6 rows affected.

[('retail_db', 'public', 'departments'),
 ('retail_db', 'public', 'products'),
 ('retail_db', 'public', 'customers'),
 ('retail_db', 'public', 'orders'),
 ('retail_db', 'public', 'order_items'),
 ('retail_db', 'public', 'categories')]

In [6]:
%%sql select * from information_schema.columns 
where table_catalog='retail_db'
and table_schema='public'
order by table_name limit 10

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
10 rows affected.

[('retail_db', 'public', 'categories', 'category_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'categories', 'category_department_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'categories', 'category_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_fname', 2, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_lname', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_email', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_password', 5, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_street', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'customers', 'customer_city', 7, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

### Products with highest Sales

In [7]:
%%sql
select * from orders limit 4

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
4 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED')]

In [8]:
%sql select * from order_items limit 4

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
4 rows affected.

[(1, 1, 957, 1, 299.98, 299.98),
 (2, 2, 1073, 1, 199.99, 199.99),
 (3, 2, 502, 5, 250.0, 50.0),
 (4, 2, 403, 1, 129.99, 129.99)]

In [9]:
%%sql
select d.department_name,
       c.category_name,
       p.product_name,
       sum(oi.order_item_quantity) total_sold_quantity,
       sum(round(cast(oi.order_item_subtotal as numeric),2)) total_revenue
from orders o join
     order_items oi 
on o.order_id=oi.order_item_order_id 
join products p on p.product_id=oi.order_item_product_id
join categories c on c.category_id=p.product_category_id
join departments d on d.department_id=c.category_department_id
group by 
         p.product_name,
         c.category_name,
         d.department_name
order by total_sold_quantity desc
limit 10

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
10 rows affected.

[('Apparel', 'Cleats', 'Perfect Fitness Perfect Rip Deck', 73698, Decimal('4421143.02')),
 ('Golf', "Women's Apparel", "Nike Men's Dri-FIT Victory Golf Polo", 62956, Decimal('3147800.00')),
 ('Fan Shop', 'Indoor/Outdoor Games', "O'Brien Men's Neoprene Life Vest", 57803, Decimal('2888993.94')),
 ('Footwear', 'Cardio Equipment', "Nike Men's Free 5.0+ Running Shoe", 36680, Decimal('3667633.20')),
 ('Golf', 'Shop By Sport', "Under Armour Girls' Toddler Spine Surge Runni", 31735, Decimal('1269082.65')),
 ('Apparel', "Men's Footwear", "Nike Men's CJ Elite 2 TD Football Cleat", 22246, Decimal('2891757.54')),
 ('Fan Shop', 'Fishing', 'Field & Stream Sportsman 16 Gun Fire Safe', 17325, Decimal('6929653.50')),
 ('Fan Shop', 'Water Sports', 'Pelican Sunstream 100 Kayak', 15500, Decimal('3099845.00')),
 ('Fan Shop', 'Camping & Hiking', "Diamondback Women's Serene Classic Comfort Bi", 13729, Decimal('4118425.42')),
 ('Fan Shop', 'Hunting & Shooting', 'ENO Atlas Hammock Straps', 998, Decimal('29930.02'))]

In [10]:
%sql select max(order_date),min(order_date) from orders

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
1 rows affected.

[(datetime.datetime(2014, 7, 24, 0, 0), datetime.datetime(2013, 7, 25, 0, 0))]

### Month Wise Sales Comparison

In [11]:
%%sql
with CTE as (
select 
        cast(date_part('month',o.order_date) as integer) ordered_month
       ,cast(date_part('year',o.order_date) as integer) ordered_year
       ,sum(oi.order_item_quantity) total_sold_quantity
       ,sum(round(cast(oi.order_item_subtotal as numeric),2)) total_revenue
from orders o
join order_items oi on o.order_id=oi.order_item_order_id
group by date_part('month',o.order_date)
        ,date_part('year',o.order_date)
order by ordered_year,ordered_month
)
select concat(c1.ordered_year,'-'
       ,c1.ordered_month) ordered_period1
       ,concat(c2.ordered_year,'-'
       ,c2.ordered_month) ordered_period2
      ,c1.total_sold_quantity
      ,c2.total_sold_quantity
      ,c1.total_revenue
      ,c2.total_revenue
from CTE c1 join CTE c2 
on c1.ordered_month=c2.ordered_month+6 and
   c1.ordered_year<c2.ordered_year

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
6 rows affected.

[('2013-7', '2014-1', 8421, 31769, Decimal('764782.19'), Decimal('2924447.01')),
 ('2013-8', '2014-2', 31311, 30638, Decimal('2828658.70'), Decimal('2778663.66')),
 ('2013-9', '2014-3', 32147, 31221, Decimal('2934527.27'), Decimal('2862492.21')),
 ('2013-10', '2014-4', 28904, 30820, Decimal('2624600.61'), Decimal('2807789.80')),
 ('2013-11', '2014-5', 34705, 30104, Decimal('3168656.03'), Decimal('2753078.22')),
 ('2013-12', '2014-6', 31921, 29466, Decimal('2932964.27'), Decimal('2703463.44'))]

### Month By Month Sales Growth for Top 5 Products

In [26]:
%%sql
with top_5_products as
(
select product_name,
       product_id,
       sum(order_item_quantity) total_quantity_sold,
       round(cast(sum(order_item_subtotal) as numeric),3) total_product_revenue
from order_items join products on order_item_product_id=product_id
    group by product_name ,product_id
order by total_quantity_sold desc, total_product_revenue desc
limit 5
),
sales_by_month_year_product as 
(
select date_trunc('month',order_date) ordered_month,
       order_item_product_id,
       product_name,
       sum(order_item_quantity) total_quantity_sold,
       round(cast(sum(order_item_subtotal) as numeric),3) total_product_revenue
    from order_items 
    join top_5_products on
    order_item_product_id=product_id
    join orders on order_id=order_item_order_id
    group by date_trunc('month',order_date),product_name,order_item_product_id
)
select date(ordered_month),product_name,total_quantity_sold,total_product_revenue
from sales_by_month_year_product
order by ordered_month,product_name

 * postgresql://retail_user:***@delab.cjavbalj6pro.us-east-1.rds.amazonaws.com:5432/retail_db
65 rows affected.

[(datetime.date(2013, 7, 1), "Nike Men's Dri-FIT Victory Golf Polo", 1342, Decimal('67100.000')),
 (datetime.date(2013, 7, 1), "Nike Men's Free 5.0+ Running Shoe", 783, Decimal('78292.170')),
 (datetime.date(2013, 7, 1), "O'Brien Men's Neoprene Life Vest", 1355, Decimal('67722.900')),
 (datetime.date(2013, 7, 1), 'Perfect Fitness Perfect Rip Deck', 1710, Decimal('102582.900')),
 (datetime.date(2013, 7, 1), "Under Armour Girls' Toddler Spine Surge Runni", 751, Decimal('30032.490')),
 (datetime.date(2013, 8, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5223, Decimal('261150.000')),
 (datetime.date(2013, 8, 1), "Nike Men's Free 5.0+ Running Shoe", 2929, Decimal('292870.710')),
 (datetime.date(2013, 8, 1), "O'Brien Men's Neoprene Life Vest", 4947, Decimal('247251.060')),
 (datetime.date(2013, 8, 1), 'Perfect Fitness Perfect Rip Deck', 6089, Decimal('365279.110')),
 (datetime.date(2013, 8, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2836, Decimal('113411.640')),
 (datetime.date(2013, 9, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5298, Decimal('264900.000')),
 (datetime.date(2013, 9, 1), "Nike Men's Free 5.0+ Running Shoe", 3402, Decimal('340165.980')),
 (datetime.date(2013, 9, 1), "O'Brien Men's Neoprene Life Vest", 4873, Decimal('243552.540')),
 (datetime.date(2013, 9, 1), 'Perfect Fitness Perfect Rip Deck', 6153, Decimal('369118.470')),
 (datetime.date(2013, 9, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2674, Decimal('106933.260')),
 (datetime.date(2013, 10, 1), "Nike Men's Dri-FIT Victory Golf Polo", 4941, Decimal('247050.000')),
 (datetime.date(2013, 10, 1), "Nike Men's Free 5.0+ Running Shoe", 2747, Decimal('274672.530')),
 (datetime.date(2013, 10, 1), "O'Brien Men's Neoprene Life Vest", 4455, Decimal('222660.900')),
 (datetime.date(2013, 10, 1), 'Perfect Fitness Perfect Rip Deck', 5699, Decimal('341883.010')),
 (datetime.date(2013, 10, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2480, Decimal('99175.200')),
 (datetime.date(2013, 11, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5830, Decimal('291500.000')),
 (datetime.date(2013, 11, 1), "Nike Men's Free 5.0+ Running Shoe", 3434, Decimal('343365.660')),
 (datetime.date(2013, 11, 1), "O'Brien Men's Neoprene Life Vest", 5224, Decimal('261095.520')),
 (datetime.date(2013, 11, 1), 'Perfect Fitness Perfect Rip Deck', 6745, Decimal('404632.550')),
 (datetime.date(2013, 11, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2895, Decimal('115771.050')),
 (datetime.date(2013, 12, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5226, Decimal('261300.000')),
 (datetime.date(2013, 12, 1), "Nike Men's Free 5.0+ Running Shoe", 3121, Decimal('312068.790')),
 (datetime.date(2013, 12, 1), "O'Brien Men's Neoprene Life Vest", 5011, Decimal('250449.780')),
 (datetime.date(2013, 12, 1), 'Perfect Fitness Perfect Rip Deck', 5983, Decimal('358920.170')),
 (datetime.date(2013, 12, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2786, Decimal('111412.140')),
 (datetime.date(2014, 1, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5369, Decimal('268450.000')),
 (datetime.date(2014, 1, 1), "Nike Men's Free 5.0+ Running Shoe", 3007, Decimal('300669.930')),
 (datetime.date(2014, 1, 1), "O'Brien Men's Neoprene Life Vest", 5031, Decimal('251449.380')),
 (datetime.date(2014, 1, 1), 'Perfect Fitness Perfect Rip Deck', 6340, Decimal('380336.600')),
 (datetime.date(2014, 1, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2564, Decimal('102534.360')),
 (datetime.date(2014, 2, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5009, Decimal('250450.000')),
 (datetime.date(2014, 2, 1), "Nike Men's Free 5.0+ Running Shoe", 2809, Decimal('280871.910')),
 (datetime.date(2014, 2, 1), "O'Brien Men's Neoprene Life Vest", 4622, Decimal('231007.560')),
 (datetime.date(2014, 2, 1), 'Perfect Fitness Perfect Rip Deck', 6315, Decimal('378836.850')),
 (datetime.date(2014, 2, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2627, Decimal('105053.730')),
 (datetime.date(2014, 3, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5416, Decimal('270800.000')),
 (datetime.date(2014, 3, 1), "Nike Men's Free 5.0+ Running Shoe", 3115, Decimal('311468.850')),
 (datetime.date(2014, 3, 1), "O'Brien Men's Neoprene Life Vest", 4583, Decimal('229058.340')),
 (datetime.date(2014, 3, 1), 'Perfect Fitness Perfect Rip Deck', 6115, Decimal('366838.850')),
 (datetime.date(2014, 3, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2621, Decimal('104813.790')),
 (datetime.date(2014, 4, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5292, Decimal('264600.000')),
 (datetime.date(2014, 4, 1), "Nike Men's Free 5.0+ Running Shoe", 2854, Decimal('285371.460')),
 (datetime.date(2014, 4, 1), "O'Brien Men's Neoprene Life Vest", 4766, Decimal('238204.680')),
 (datetime.date(2014, 4, 1), 'Perfect Fitness Perfect Rip Deck', 5959, Decimal('357480.410')),
 (datetime.date(2014, 4, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2551, Decimal('102014.490')),
 (datetime.date(2014, 5, 1), "Nike Men's Dri-FIT Victory Golf Polo", 4824, Decimal('241200.000')),
 (datetime.date(2014, 5, 1), "Nike Men's Free 5.0+ Running Shoe", 3012, Decimal('301169.880')),
 (datetime.date(2014, 5, 1), "O'Brien Men's Neoprene Life Vest", 4664, Decimal('233106.720')),
 (datetime.date(2014, 5, 1), 'Perfect Fitness Perfect Rip Deck', 6014, Decimal('360779.860')),
 (datetime.date(2014, 5, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2551, Decimal('102014.490')),
 (datetime.date(2014, 6, 1), "Nike Men's Dri-FIT Victory Golf Polo", 5075, Decimal('253750.000')),
 (datetime.date(2014, 6, 1), "Nike Men's Free 5.0+ Running Shoe", 3163, Decimal('316268.370')),
 (datetime.date(2014, 6, 1), "O'Brien Men's Neoprene Life Vest", 4618, Decimal('230807.640')),
 (datetime.date(2014, 6, 1), 'Perfect Fitness Perfect Rip Deck', 5873, Decimal('352321.270')),
 (datetime.date(2014, 6, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2290, Decimal('91577.100')),
 (datetime.date(2014, 7, 1), "Nike Men's Dri-FIT Victory Golf Polo", 4111, Decimal('205550.000')),
 (datetime.date(2014, 7, 1), "Nike Men's Free 5.0+ Running Shoe", 2304, Decimal('230376.960')),
 (datetime.date(2014, 7, 1), "O'Brien Men's Neoprene Life Vest", 3654, Decimal('182626.920')),
 (datetime.date(2014, 7, 1), 'Perfect Fitness Perfect Rip Deck', 4703, Decimal('282132.970')),
 (datetime.date(2014, 7, 1), "Under Armour Girls' Toddler Spine Surge Runni", 2109, Decimal('84338.910'))]